.discussion-layout {
    display: flex;
    justify-content: center;
    height: 100%;
}

.discussion-box {
    flex: 1;
    border: 1px solid #ddd;
    background: #fff;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 170px);
}

.discussion-header {
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
    background: #fafafa;
    flex-shrink: 0;
}

.discussion-header h4 {
    margin: 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #333;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.message-card {
    display: flex;
    padding: 10px;
    border-radius: 8px;
    background: #f9f9f9;
    border: 1px solid #eee;
    gap: 8px
}

.avatar-img {
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.message-card .avatar {
    flex-shrink: 0;
    color: #666;
}

.message-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message-content .user {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    color: #333;
}


.message-content .time {
    font-weight: normal;
    font-size: 12px;
    margin-left: 6px;
    color: #777;
}

.message-content .text {
    margin: 2px 0 0 0;
    font-size: 15px;
    color: #444;
}

.actions {
    display: flex;
    gap: 15px;
    font-size: 13px;
}

.actions button {
    border: none;
    background: none;
    color: #388e3c;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0;
    min-width: auto;
}

.actions button:hover {
    text-decoration: underline;
}

.replies {
    margin-top: 8px;
}

.reply-card {
    display: flex;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 8px;
    gap: 8px
}

.reply-card .avatar {
    flex-shrink: 0;
    color: #888;
}

.input-box {
    display: flex;
    gap: 8px;
    border-top: 1px solid #ddd;
    padding: 8px 12px;
    background: #fafafa;
    flex-shrink: 0;
}

.input-box input {
    flex: 1;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
}

.input-box input:focus {
    border-color: #388e3c;
}

.input-box button {
    border: none;
    min-width: auto;
    background: #388e3c;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box button:hover {
    background: #2e7d32;
}