.permission-container {
    padding: 20px 0px;
    width: 100%;
}

.permission-title-container {
    display: flex;
    justify-content: center;
    gap: 1%;
}

.permission-title {
    font-weight: 600;
    margin: 0px;
}

.permission-title-container button {
    border-radius: 8px;
    padding: 0px 10px;
}

.permission-title-container button:hover {
    color: #F4F4F4;
    background-color: #9B1B30;
}

.permission-animation-container {
    display: flex;
    justify-content: center;
}

.permission-animation {
    width: 40%;
}